!! ================================================================
!! Xft
!! ================================================================

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
xft.hintstyle: hintslight

!! find good color scheme from https://terminal.sexy/
! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

!! ================================================================
!! URxvt
!! ================================================================

xvt.depth: 32
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 0
! URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts
URxvt.allow_bold: true
!URxvt*font: xft:Source Code Pro, xft:Ricty-Bold:size=14:antialias=true, xft:DejaVu Sans Mono, xft:VL Gothic, xft:Migu 1C
URxvt*font: xft:DejaVu Sans Mono, xft:VL Gothic, xft:Migu 1C

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

! iso 14755 disable
!URxvt*iso14755: false

! Color
URxvt*shading: 30
URxvt*inheritPixmap: true

!! ================================================================
!! XTerm
!! ================================================================

!! General
XTerm*termName: xterm-256color
XTerm*scrollBar: False
XTerm*cursorBlink: True
XTerm*selectToClipboard: True

!! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*faceName: xft:Source Code Pro, xft:Inconsolata
XTerm*faceNameDoublesize: xft:Noto Sans CJK JP
XTerm*faceSize: 12
XTerm*scaleHeight: 1.08


