!! ================================================================
!! Xft
!! ================================================================

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
xft.hintstyle: hintslight

!! ================================================================
!! URxvt
!! ================================================================

xvt.depth: 32
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 0
! URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts
URxvt.allow_bold: true
!URxvt*font: xft:Source Code Pro, xft:Ricty-Bold:size=14:antialias=true, xft:DejaVu Sans Mono, xft:VL Gothic, xft:Migu 1C
URxvt*font: xft:DejaVu Sans Mono, xft:VL Gothic, xft:Migu 1C

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

! iso 14755 disable
!URxvt*iso14755: false

! Color
URxvt*shading: 30
URxvt*inheritPixmap: true

! Molokai
!!Source https://github.com/brianbuccola/dotfiles/blob/master/xcolors/molokai
! vim: set ft=xdefaults:
URxvt*background: #000000
URxvt*foreground: #d0d0d0

URxvt*cursorColor: #d0d0d0

URxvt*colorBD: #3579a8
URxvt*colorUL: #4eb4fa

!black
URxvt*color0: #000000
URxvt*color8: #1c1c1c

!red
URxvt*color1: #960050
URxvt*color9: #ff0090

!green
URxvt*color2: #66aa11
URxvt*color10: #80ff00

!yellow
URxvt*color3: #c47f2c
URxvt*color11: #ffba68

!blue
URxvt*color4: #30309b
URxvt*color12: #5f5fee

!magenta
URxvt*color5: #7e40a5
URxvt*color13: #bb88dd

!cyan
URxvt*color6: #3579a8
URxvt*color14: #4eb4fa

!white
URxvt*color7: #5f5f5f
URxvt*color15: #d0d0d0

!! ================================================================
!! XTerm
!! ================================================================

!! General
XTerm*termName: xterm-256color
XTerm*scrollBar: False
XTerm*cursorBlink: True

!! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*faceName: xft:Inconsolata
XTerm*faceNameDoublesize: xft:Noto Sans CJK JP
XTerm*faceSize: 12
XTerm*scaleHeight: 1.08

! Base16 Monokai
! Scheme: Wimer Hazenberg (http://www.monokai.nl)

#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633

XTerm.foreground:   base05
#ifdef background_opacity
XTerm.background:   [background_opacity]base00
#else
XTerm.background:   base00
#endif
XTerm.cursorColor:  base05

XTerm.color0:       base00
XTerm.color1:       base08
XTerm.color2:       base0B
XTerm.color3:       base0A
XTerm.color4:       base0D
XTerm.color5:       base0E
XTerm.color6:       base0C
XTerm.color7:       base05

XTerm.color8:       base03
XTerm.color9:       base09
XTerm.color10:      base01
XTerm.color11:      base02
XTerm.color12:      base04
XTerm.color13:      base06
XTerm.color14:      base0F
XTerm.color15:      base07

